Project3Solution/MvcClient/Connected Services/SasPrivate/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SocialAdService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISocialAdService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialAdService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetAuthenticatedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUser" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetAuthenticatedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_CountUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:CountUsers" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_CountUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_FetchAds_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAds" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_FetchAds_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAdsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_PostAd_InputMessage">
    <wsdl:part name="parameters" element="tns:PostAd" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_PostAd_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostAdResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_ReserveAd_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveAd" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_ReserveAd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveAdResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_UnreserveAd_InputMessage">
    <wsdl:part name="parameters" element="tns:UnreserveAd" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_UnreserveAd_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnreserveAdResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_BuyReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyReservations" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_BuyReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_BuyBoosts_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyBoosts" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_BuyBoosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyBoostsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_PostComment_InputMessage">
    <wsdl:part name="parameters" element="tns:PostComment" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_PostComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_DeleteComment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComment" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_DeleteComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_DeleteAd_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAd" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_DeleteAd_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAdResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_EditAd_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAd" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_EditAd_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocialAdService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/Register" message="tns:ISocialAdService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/RegisterResponse" message="tns:ISocialAdService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/Authenticate" message="tns:ISocialAdService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/AuthenticateResponse" message="tns:ISocialAdService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetAuthenticatedUser" message="tns:ISocialAdService_GetAuthenticatedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetAuthenticatedUserResponse" message="tns:ISocialAdService_GetAuthenticatedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/LogOut" message="tns:ISocialAdService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/LogOutResponse" message="tns:ISocialAdService_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetUser" message="tns:ISocialAdService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetUserResponse" message="tns:ISocialAdService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/CountUsers" message="tns:ISocialAdService_CountUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/CountUsersResponse" message="tns:ISocialAdService_CountUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetUsers" message="tns:ISocialAdService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetUsersResponse" message="tns:ISocialAdService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetData" message="tns:ISocialAdService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetDataResponse" message="tns:ISocialAdService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAds">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/FetchAds" message="tns:ISocialAdService_FetchAds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/FetchAdsResponse" message="tns:ISocialAdService_FetchAds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostAd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/PostAd" message="tns:ISocialAdService_PostAd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/PostAdResponse" message="tns:ISocialAdService_PostAd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveAd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/ReserveAd" message="tns:ISocialAdService_ReserveAd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/ReserveAdResponse" message="tns:ISocialAdService_ReserveAd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnreserveAd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/UnreserveAd" message="tns:ISocialAdService_UnreserveAd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/UnreserveAdResponse" message="tns:ISocialAdService_UnreserveAd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/BuyReservations" message="tns:ISocialAdService_BuyReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/BuyReservationsResponse" message="tns:ISocialAdService_BuyReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyBoosts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/BuyBoosts" message="tns:ISocialAdService_BuyBoosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/BuyBoostsResponse" message="tns:ISocialAdService_BuyBoosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetCurrentUser" message="tns:ISocialAdService_GetCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetCurrentUserResponse" message="tns:ISocialAdService_GetCurrentUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/PostComment" message="tns:ISocialAdService_PostComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/PostCommentResponse" message="tns:ISocialAdService_PostComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/DeleteComment" message="tns:ISocialAdService_DeleteComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/DeleteCommentResponse" message="tns:ISocialAdService_DeleteComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/DeleteAd" message="tns:ISocialAdService_DeleteAd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/DeleteAdResponse" message="tns:ISocialAdService_DeleteAd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/EditAd" message="tns:ISocialAdService_EditAd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/EditAdResponse" message="tns:ISocialAdService_EditAd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISocialAdService" type="tns:ISocialAdService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISocialAdService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/GetAuthenticatedUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUsers">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/CountUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAds">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/FetchAds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostAd">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/PostAd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveAd">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/ReserveAd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnreserveAd">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/UnreserveAd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyReservations">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/BuyReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyBoosts">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/BuyBoosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostComment">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/PostComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/DeleteComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAd">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/DeleteAd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAd">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/EditAd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialAdService">
    <wsdl:port name="WSHttpBinding_ISocialAdService" binding="tns:WSHttpBinding_ISocialAdService">
      <soap12:address location="https://localhost:1414/WcfSecurity" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:1414/WcfSecurity</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>