Project3Solution/MvcClient/Connected Services/AuthService/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAuthService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:1415/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:1415/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:1415/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetAds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAds" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetAds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetAdsWithinLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdsWithinLocation" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetAdsWithinLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdsWithinLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_FindAds_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAds" />
  </wsdl:message>
  <wsdl:message name="IAuthService_FindAds_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAdsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetAdReplies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdReplies" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetAdReplies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdRepliesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Login" message="tns:IAuthService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/LoginResponse" message="tns:IAuthService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Register" message="tns:IAuthService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RegisterResponse" message="tns:IAuthService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAds">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetAds" message="tns:IAuthService_GetAds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetAdsResponse" message="tns:IAuthService_GetAds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdsWithinLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetAdsWithinLocation" message="tns:IAuthService_GetAdsWithinLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetAdsWithinLocationResponse" message="tns:IAuthService_GetAdsWithinLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAds">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/FindAds" message="tns:IAuthService_FindAds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/FindAdsResponse" message="tns:IAuthService_FindAds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdReplies">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetAdReplies" message="tns:IAuthService_GetAdReplies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetAdRepliesResponse" message="tns:IAuthService_GetAdReplies_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAuthService" type="tns:IAuthService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAuthService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAds">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/GetAds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdsWithinLocation">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/GetAdsWithinLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAds">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/FindAds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdReplies">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/GetAdReplies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="WSHttpBinding_IAuthService" binding="tns:WSHttpBinding_IAuthService">
      <soap12:address location="https://localhost:1415/AuthBehaviour" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:1415/AuthBehaviour</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>