Project3Solution/MvcClient/Connected Services/SasPublic/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SocialAdServicePublic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISocialAdServicePublic_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:1415/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:1415/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:1415/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialAdServicePublic_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetAds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAds" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetAds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetAdsWithinLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdsWithinLocation" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetAdsWithinLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdsWithinLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_FindAds_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAds" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_FindAds_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAdsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetAdReplies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdReplies" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetAdReplies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdRepliesResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetAd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAd" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetAd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetPostedAds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostedAds" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetPostedAds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostedAdsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetReservedAds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservedAds" />
  </wsdl:message>
  <wsdl:message name="ISocialAdServicePublic_GetReservedAds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservedAdsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocialAdServicePublic">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/Login" message="tns:ISocialAdServicePublic_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/LoginResponse" message="tns:ISocialAdServicePublic_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/Register" message="tns:ISocialAdServicePublic_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/RegisterResponse" message="tns:ISocialAdServicePublic_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAds">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetAds" message="tns:ISocialAdServicePublic_GetAds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetAdsResponse" message="tns:ISocialAdServicePublic_GetAds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdsWithinLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetAdsWithinLocation" message="tns:ISocialAdServicePublic_GetAdsWithinLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetAdsWithinLocationResponse" message="tns:ISocialAdServicePublic_GetAdsWithinLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAds">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/FindAds" message="tns:ISocialAdServicePublic_FindAds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/FindAdsResponse" message="tns:ISocialAdServicePublic_FindAds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdReplies">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetAdReplies" message="tns:ISocialAdServicePublic_GetAdReplies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetAdRepliesResponse" message="tns:ISocialAdServicePublic_GetAdReplies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetAd" message="tns:ISocialAdServicePublic_GetAd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetAdResponse" message="tns:ISocialAdServicePublic_GetAd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostedAds">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetPostedAds" message="tns:ISocialAdServicePublic_GetPostedAds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetPostedAdsResponse" message="tns:ISocialAdServicePublic_GetPostedAds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReservedAds">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetReservedAds" message="tns:ISocialAdServicePublic_GetReservedAds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdServicePublic/GetReservedAdsResponse" message="tns:ISocialAdServicePublic_GetReservedAds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISocialAdServicePublic" type="tns:ISocialAdServicePublic">
    <wsp:PolicyReference URI="#WSHttpBinding_ISocialAdServicePublic_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAds">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/GetAds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdsWithinLocation">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/GetAdsWithinLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAds">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/FindAds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdReplies">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/GetAdReplies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAd">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/GetAd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostedAds">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/GetPostedAds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservedAds">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdServicePublic/GetReservedAds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialAdServicePublic">
    <wsdl:port name="WSHttpBinding_ISocialAdServicePublic" binding="tns:WSHttpBinding_ISocialAdServicePublic">
      <soap12:address location="https://localhost:1415/PublicBehaviour" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:1415/PublicBehaviour</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>