Project3Solution/MvcClient/Connected Services/SocialAdService/Model1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boosts" type="xs:int" />
      <xs:element minOccurs="0" name="DateRegistered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PictureURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reservations" type="xs:int" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfAd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ad" nillable="true" type="tns:Ad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAd" nillable="true" type="tns:ArrayOfAd" />
  <xs:complexType name="Ad">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Post">
        <xs:sequence>
          <xs:element minOccurs="0" name="Categories" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="ExpDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="tns:Price" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Views" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ad" nillable="true" type="tns:Ad" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastEdited" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="Type" type="tns:LocationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:simpleType name="LocationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Country" />
      <xs:enumeration value="Region" />
      <xs:enumeration value="City" />
      <xs:enumeration value="Area" />
      <xs:enumeration value="Address" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LocationType" nillable="true" type="tns:LocationType" />
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="High" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Low" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:PriceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:simpleType name="PriceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Range" />
      <xs:enumeration value="Free" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Bid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PriceType" nillable="true" type="tns:PriceType" />
</xs:schema>