Project3Solution/MvcClient/Connected Services/SocialAdService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SocialAdService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceTier" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialAdService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetAuthenticatedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUser" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetAuthenticatedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_CountUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:CountUsers" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_CountUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_getData_InputMessage">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_getData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocialAdService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/Register" message="tns:ISocialAdService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/RegisterResponse" message="tns:ISocialAdService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/Authenticate" message="tns:ISocialAdService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/AuthenticateResponse" message="tns:ISocialAdService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetAuthenticatedUser" message="tns:ISocialAdService_GetAuthenticatedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetAuthenticatedUserResponse" message="tns:ISocialAdService_GetAuthenticatedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/LogOut" message="tns:ISocialAdService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/LogOutResponse" message="tns:ISocialAdService_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetUser" message="tns:ISocialAdService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetUserResponse" message="tns:ISocialAdService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/CountUsers" message="tns:ISocialAdService_CountUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/CountUsersResponse" message="tns:ISocialAdService_CountUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetUsers" message="tns:ISocialAdService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetUsersResponse" message="tns:ISocialAdService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/getData" message="tns:ISocialAdService_getData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/getDataResponse" message="tns:ISocialAdService_getData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISocialAdService" type="tns:ISocialAdService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ISocialAdService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/ISocialAdService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <soap:operation soapAction="http://tempuri.org/ISocialAdService/GetAuthenticatedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/ISocialAdService/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ISocialAdService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUsers">
      <soap:operation soapAction="http://tempuri.org/ISocialAdService/CountUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/ISocialAdService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://tempuri.org/ISocialAdService/getData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialAdService">
    <wsdl:port name="BasicHttpBinding_ISocialAdService" binding="tns:BasicHttpBinding_ISocialAdService">
      <soap:address location="http://localhost:8733/WcfServiceTier/SocialAdService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>