Project3Solution/ConsoleClient/Service References/HttpsServiceReference/SocialAdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SocialAdService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISocialAdService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:1414/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:1414/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:1414/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceTier" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialAdService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetAuthenticatedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUser" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetAuthenticatedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_CountUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:CountUsers" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_CountUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_getData_InputMessage">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="ISocialAdService_getData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocialAdService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/Register" message="tns:ISocialAdService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/RegisterResponse" message="tns:ISocialAdService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/Authenticate" message="tns:ISocialAdService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/AuthenticateResponse" message="tns:ISocialAdService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetAuthenticatedUser" message="tns:ISocialAdService_GetAuthenticatedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetAuthenticatedUserResponse" message="tns:ISocialAdService_GetAuthenticatedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/LogOut" message="tns:ISocialAdService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/LogOutResponse" message="tns:ISocialAdService_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetUser" message="tns:ISocialAdService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetUserResponse" message="tns:ISocialAdService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/CountUsers" message="tns:ISocialAdService_CountUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/CountUsersResponse" message="tns:ISocialAdService_CountUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/GetUsers" message="tns:ISocialAdService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/GetUsersResponse" message="tns:ISocialAdService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialAdService/getData" message="tns:ISocialAdService_getData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialAdService/getDataResponse" message="tns:ISocialAdService_getData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISocialAdService" type="tns:ISocialAdService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISocialAdService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/GetAuthenticatedUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUsers">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/CountUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://tempuri.org/ISocialAdService/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialAdService">
    <wsdl:port name="WSHttpBinding_ISocialAdService" binding="tns:WSHttpBinding_ISocialAdService">
      <soap12:address location="https://localhost:1414/WcfSecurity" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:1414/WcfSecurity</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>